.bg-5B7792 {
    background-color: #5B7792 !important;
}

.text-FFFAFF {
    color: #FFFAFF;
}

.text-FC5130 {
    color: #FC5130;
}
.bg-FC5130 {
    background-color: #FC5130;
}
.text-5B7792 {
    color: #5B7792;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #FFFAFF !important;
}

section {


}
nav li {
    margin-left: 10px;
}

nav li a {
    text-decoration: none;

}

nav li a:hover {
    text-decoration: underline;
    color: #5B7792;
}
.backToTop{
    text-decoration: none;
}
.backToTop:hover{
    color: #5B7792;
}

.sectionFive a:hover {
    text-decoration: underline;
    color: #FC5130 !important;
}


.nav-icons div a {
    margin-right: 8px;
}

#ryan {
    color: #FC5130;
}

.introScreenNormalText {
    font-size: 1.3em;
}

.page-padding-top {
    padding-top: 100px;

}

.headingColor {
    color: #FFFAFF;
    padding-left: 40px;
}

.tilebox div {
    height: 200px;
    width: 25%;
    text-align: center;
    transition: all 1s ease-in-out;
}

.tilebox p, .tilebox button, .tilebox a {
    font-family: verdana;
    font-size: 12px;
}

.tilebox a {
    color: #fff;
}

.tilebox button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.tilebox .outer {
    border: 1px solid #333;
    overflow: hidden;
    position: relative;
}

.tilebox .bottom {
    background: #33b;
    bottom: -200px;
    position: absolute;
}

.tilebox .top {
    background: #cdd;
    bottom: 0px;
    position: absolute;
    vertical-align: top;
}

.tilebox .outer:hover .bottom {
    bottom: 0px;
}

.tilebox .outer:hover .top {
    bottom: 200px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
}

nav {
    background-color: rgba(255, 250, 255, .78);
    backdrop-filter: blur(8px);

}

.icon-text-color {
    color: #F06449;
}

nav a {
    color: #F06449;
}

header {
    width: 100%;
}

a {
    text-decoration: none;
}

main {
    padding-bottom: 50px;

}

#sideBarButton {
    margin-left: 20px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid black;
    height: 30px;
}

#sideBarButton:hover .icon {

}

.scroll-progress {
    width: 0%;
    background-color: #F06449;
    height: 8px;
    z-index: 102;
}

.high-z {
    z-index: 200;
}

.high-high-z {
    z-index: 99999;
}

.card-width .no-padding {
    padding: 0px;
}

nav {
    z-index: 100;
}

#sideBarButton:hover {
    border: 2px solid black;


}
#githubButton{
    border: none;
}
#githubButton:hover {
    background-color: #FC5130;
}
#githubButton a{
    color: #FC5130;
    text-decoration: none;
}
#githubButton a:hover{
    color: #FFFAFF;
}
#githubButton:hover .gitIcon{
    color: #FFFAFF;
}
#contactMe {
    border: 1px solid #FC5130;
    color: #FC5130;
}
#contactMe a{
    color: #FC5130;
    text-decoration: none;
}
#contactMe a:hover{
    color: #FFFAFF;
}
.contactFormButton {
    color: #FFFAFF !important;
    background-color: #FC5130 !important;
}

.contactFormButton:hover {
    background-color: #FFFAFF !important;
    color: #FC5130 !important;
}

#contactMe:hover {
    background-color: #FC5130;
    color: #FFFAFF;
}

#introPannel {
    scroll-snap-align: start;
    background-color: #FFFAFF;
    z-index: 115;
    color: #5B7792;
    min-height: 100vh;

}

#homeScreenArrow {
    color: #FC5130;

}


.card-title {
    color: #5B7792 !important;
}

.card-text {
    color: #5B7792 !important;
    height: 55px;
}
.gitIcon{
    color: #FC5130;
    padding-top: 2px;
}
.codeIcon {
    color: #5B7792 !important;
}

.viewMore {
    background-color: #FC5130 !important;
    border: 1px solid #FC5130 !important;
}

.projectsDiv {
    scroll-snap-align: start;
    background-color: #5B7792;
    z-index: 115;

}

#sectionThree {
    background-color: #5B7792;
    z-index: 115;
    min-height: 100vh;
}

#aboutMe {
    background-color: #FFFAFF;
    z-index: 115;
    min-height: 100vh;
}

#sectionFive {
    background-color: #0A1128;
    z-index: 115;
}

.card-img {
    height: 160px;
}

.projectThumbnail1 {
    background-image: url("../img/wordpressDev.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
}

.projectThumbnail2 {
    background-image: url("../img/WebDesignFinal.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
    margin-bottom: 20px;

}

.projectThumbnail3 {
    background-image: url("../img/javascriptTwoFianl.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
    margin-bottom: 20px;

}

.projectThumbnail4 {
    background-image: url("../img/IWDFinal.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
    margin-bottom: 20px;

}

#projectsContainer {
    margin-bottom: 50px;
}

#aboutMeFlex .me {
    border-radius: 100px;
}

#view {

    opacity: 30%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
}

#viewButton {
    padding-top: 150px;
    width: 100%;
}

#viewButton span {

    padding: 15px;
    padding-top: 8px;
    margin-top: 100px;
    width: 100%;
    border: 4px solid black;
}

.card-title {
    margin-right: 10px;
}

.codeIcon img {
    height: 40px;
    width: 10%;
}

.link {
    border-bottom: 4px solid black;

}


#sideBarButtonClose {
    cursor: pointer;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 2em;
    /*color: #bb88fc;*/
    font-weight: bolder;
}


#sideBarButton .icon {
    display: block;
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#sideBarButton .icon:nth-child(1) {
    margin-top: 2px;
    margin-bottom: 5px;
}

#sideBarButton .icon:nth-child(3) {
    margin-bottom: 2px;
}

#sidebar.active {
    left: 0px;
}

#checkOut {
    text-align: center;
}

#checkOut button {
    margin-top: 60px;
    border: none;
    font-size: 1.3em;
    padding: 30px;
    border-radius: 100px;
}

#resumeMain {
    padding: 10px;
}


.MyLinks {
    border-bottom: 2px solid black;
}

.onPage {
    border-bottom: 2px solid black;
}

.onPage a {
    text-decoration: none;
}

#sideBarWrapper {
    display: flex;
    flex-direction: row;

}

#flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.no-border {
    border: none !important;
    background-color: #FC5130;
}

.logoSize {
    font-size: 2em;
    margin-left: 7px;
}


.container {
    padding: 20px;

}

homeSectionFooter {
    height: 100%;
}


.content p {
    margin: 0 0 20px;
}

/* Arrow & Hover Animation */
#more-arrows {
    width: 75px;
    height: 65px;
}

#more-arrows:hover polygon {
    fill: #FC5130;
    transition: all 0.2s ease-out;
}

#sectionThree #more-arrows:hover polygon {
    fill: #FFFAFF;
}

#more-arrows:hover polygon.arrow-bottom {
    transform: translateY(-18px);
}

#more-arrows:hover polygon.arrow-top {
    transform: translateY(18px);
}

polygon {
    fill: #FC5130;
    transition: all 0.2s ease-out;
}

#sectionThree polygon {
    fill: #FFFAFF;

}

polygon.arrow-middle {
    opacity: 0.75;
}

polygon.arrow-top {
    opacity: 0.5;
}

nav {
    z-index: 998;
}

#scroll-progress {
    z-index: 999;

}

#grimmImg {
    background-image: url("../img/grimm.jpg");
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
    background-size: contain;
    height: 500px;
}

#ocherImg {
    background-image: url("../img/ocher.png");
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
    background-size: contain;
    height: 500px;
}

#rockmanImg {
    background-image: url("../img/rockman.jpg");
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
    background-size: contain;
    height: 500px;
}

#catImg {
    background-image: url("../img/cat.jpg");
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
    background-size: contain;
    height: 500px;
}

#yukonImg {
    background-image: url("../img/yukon.png");
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
    background-size: contain;
    height: 500px;
}

#chickImg {
    background-image: url("../img/chick.jpg");
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
    background-size: contain;
    height: 500px;
}

#bingoImg {
    background-image: url("../img/bingo.jpg");
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
    background-size: contain;
    height: 500px;
}
.aboutMeBox{
    border: 2px dashed #FC5130;
}
.card-body a{
    text-decoration: none;
}
.card-body a:hover{
    text-decoration: underline;
}
.buttonGitFlex{
    display: flex;
    flex-direction: row;
}