
section {
    scroll-snap-align: start;
}

.vertical-text-align {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header {

    padding-bottom: 10px;
    display: flex;
    flex-direction: row;

}

#homeScreenArrow {
    margin-top: 20px;
    font-size: 5em;

}
.navSectionOne{
    width: 49%;
}
.navSectionTwo{
    width: 10%;
}
.navSectionThree{
    width: 40%;
}
.introTextBox2 {
    text-align: left;
}

#homeScreenArrow:hover {
    text-decoration: none;
}

#introText {
    height: 80%;
    margin: 0 auto;
    width: 40%;
}
.arrowMargin{
    margin-left: 10px;
}
#homeSectionFooter {
    margin:0 auto;
    width: 5%;
}


#welcome {
    padding-top: 60px;
}

nav li {
    margin-left: 10px;
}

nav li a {
    padding-bottom: 10px;
}


.projectsDiv {
    min-height: 130vh;

}

#sidebar {
    position: absolute;
    top: 0px;
    left: -200px;
    width: 200px;
    height: 100%;
    transition: all 300ms linear;
}

#sidebar h2 {
    padding-left: 10px;
}

main {

    margin: 0 auto;
    padding-bottom: 100px;
}


.link {
    padding: 19px;

}


#resumeMain {

    width: 40%;
    padding: 50px;
}

#contactFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#title {
    text-align: center;
}

.resumeFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bold {
    font-weight: bolder;
}

.listFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#projectsContainer {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

#projectsContainer .box h3 {
}

#projectsContainer .box {
    height: 300px;
    width: 40%;
    margin-bottom: 200px;
    margin-top: 50px;

}

.description {
    padding-bottom: 30px;
}


#aboutMeFlex {

    padding: 40px;
}

#aboutMeFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#aboutMeFlex .bio {
    margin-top: 80px;
    margin-left: 50px;
}

#classesIveTaken {
    padding: 40px;
}

#goals {
    padding: 40px;

}

.MyLinks {

    margin-right: 9px;
}

#welcome {
    margin-top: 40px;
    font-size: 2.7em;

}

#homePage {
    padding: 40px;
}

#skills {
    margin-top: 30px;
}

.card-min-height {
    height: 600px;
}
