header {
    display: flex;
}

nav {
    width: 100%;
    text-align: center;
    top: 0;
}

nav ul {
    padding-right: 70px;

}

#contactFlex p span {
    display: none;
}

main {
    padding: 15px;
}

.link {
    padding: 10px;
}

#aboutMeFlex .me {
    margin-bottom: 10px;
}

.content a {
    display: none;
}